@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: white;
  --black: #38434E;
  --gray-light: #EBE8EB;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
